<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Toard.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title><%= info.videoDetails.title %></title>
    <meta name="description" content="<%= info.videoDetails.description || ""
    %>">
    <meta
      property="og:title"
      content="<%= info.videoDetails.title %>"
    />
    <meta property="og:type" content="video" />
    <meta property="og:video" content="/s/<%= id %>" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:url" content="/s/<%= id %>" />
    <meta property="twitter:player" content="/s/<%= id %>" />
    <meta
      name="twitter:image"
      content="/vi/<%= id %>/hqdefault.jpg"
    />
    <meta property="og:description" content="<%= info.videoDetails.description
    || "" %>">
    <meta property="og:site_name" content="ytmous | Anonymous Youtube Proxy" />
    <meta
      property="og:image"
      content="/vi/<%= id %>/hqdefault.jpg"
    />
    <meta name="theme-color" content="#ff8181" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="author" content="ytmous | Anonymous Youtube Proxy" />
    <meta name="robots" content="noindex">
  </head>
  <body>
    <span class="fixed border bottom left" style="z-index: 4;"
      ><a href="/"><b>ytmous</b></a> - Anonymous Youtube Proxy</span
    >
    <a class="fixed border bottom right" style="z-index: 4;" id="sbtn" href="#sbox">Search</a>
    <div id="sbox" class="border fixed bottom right popup">
      <form action="/s" method="GET">
        <input
          name="q"
          class="border"
          type="text"
          placeholder="Search video...."
        />
      </form>
    </div>

    <!-- Comments -->
    <div class="fixed border left" style="bottom: 30px; z-index: 4; max-width: 70%;">
      <% if (comments && comments.comments && comments.total) { %>
      <a class="border" href="#comments">Comments <%= "(" + (comments.total || "0") + ")" %></a>
      <marquee>
      <% comments.comments.forEach(c => { %>
        <span>
          <span class="border">
            <% if (c.authorThumb) { %>
            <img lazy
              src="/yt3<%- (new URL(c.authorThumb[0].url)).pathname %>"
              style="border-radius: 50%; width: 17px; height: 17px"
            />
            <% } %>
            <a href="/c/<%= c.authorId %>"><%= c.author %> </a>
          </span>
          <%- c.text.replace(RegExp("<br>", "g"), "; "); %>
        </span>
      <% }); %>
      </marquee>
      <% } else { %>
      <span>No comments for this video.</span>
      <% } %>
    </div>

    <div id="comments" class="border popup fixed bottom left">
      <iframe loading="lazy" src="/cm/<%= id %>"></iframe><br>
      <a href="#"><small>Close</small></a>
    </div>

    <!-- Video Player -->
    <div id="player" class="left">
      <video
        poster="/vi/<%= id %>/hqdefault.jpg"
        controls
        autoplay
      >
        <source src="/s/<%= id %>">
        <% if (captions && captions.length) { %>
        <% captions.forEach(c => { %>
        <track src="/cc/<%= id %>?vssId=<%= c.vssId %>&fmt=vtt" srclang="<%= c.languangeCode %>" label="<%= c.name %>">
        <% }); %>
        <% } %>

        <ul>
          <li><a href="/s/<%= id %>">Video</a></li>
          <li><a href="/s/<%= info.formats.filter(i => i.hasAudio && !i.hasVideo)[0].itag %>">Audio</a></li>
          <li><a href="/s/<%= id %>" download>Video (Download)</a></li>
          <li><a href="/s/<%= info.formats.filter(i => i.hasAudio && !i.hasVideo)[0].itag %>" download>Audio (Download)</a></li>
          <% if (captions && captions.length) { %>
          <% captions.forEach(c => { %>
          <li><a href="/cc/<%= id %>?vssId=<%= c.vssId %>&fmt=vtt" download>Subtitle (WebVTT): <%= c.name %></a></li>
          <% }); %>
          <% } %>
        </ul>
      </video>
      <!-- Channel Information -->
      <div class="chnInf">
        <h4
          >
          <% if (info.videoDetails.author.thumbnails.length) { %>
          <img lazy
            src="/yt3<%- (new URL(info.videoDetails.author.thumbnails.pop().url)).pathname %>"
            style="border-radius: 50%; width: 15px; height: 15px"
          /><% } %>
          <a href="/c/<%= info.videoDetails.author.id %>"
            ><%= info.videoDetails.author.name %></a
          ><small style="color: gray;"> • <%= info.videoDetails.author.subscriber_count %> subscribers.</small></h4
        >
      </div>
      <!-- Video Information -->
      <div id="vidInfo">
        <!-- Quality Selection -->
        <details class="border right" id="qs">
          <summary>Quality Selection</summary>
          <ul>
          <% info.formats.filter(i => !i.hasAudio && !i.isDashMPD).forEach(i => { %>
            <li><a href="#" onclick="<%= `cq(${i.itag}, ${info.formats.filter(i => i.hasAudio && !i.hasVideo)[0].itag})` %>"><b><%= i.qualityLabel %></b> <%= i.mimeType %></a></li>
          <% }); %>
          </ul>
        </details>
        <h2><%= info.videoDetails.title %></h2>
        <span
          ><%- (info.videoDetails.description || "").replace(/\n/g, "<br />")
          %></span
        ><br><br>
        <small>Likes: <b><%= info.videoDetails.likes || 0 %></b></small><br>
        <small>Dislikes: <b><%= info.videoDetails.dislikes || 0 %></b></small><br>
        <small>Viewers: <b><%= info.videoDetails.viewCount %></b></small><br>
        <small>Category: <b><%= info.videoDetails.category %></b></small><br>
        <small>Uploaded at <b><%= info.videoDetails.uploadDate %></b></small><br>
        <small>Published at <b><%= info.videoDetails.publishDate %></b></small><br>
        <small>Private video: <b><%= info.videoDetails.isPrivate ? "yes" : "no" %></b></small><br>
        <small>Age restricted: <b><%= info.videoDetails.age_restricted ? "yes" : "no" %></b></small><br>
        <small>Crawlable: <b><%= info.videoDetails.isCrawlable ? "yes" : "no" %></b></small><br>
      </div>
    </div>
    <!-- Related Video section -->
    <div id="relatedVideos" class="right">
      <% info.related_videos.forEach(video => { %>
      <div class="rVideo">
        <a href="/w/<%= video.id %>"
          ><img lazy src="/vi/<%= video.id %>/mqdefault.jpg"
        /></a>
        <div class="rVideoInfo">
          <h4><a href="/w/<%= video.id %>"><%= video.title %></a></h4>
          <div class="chnInf">
            <span>
              <% if (video.author.thumbnails.length) { %>
              <img lazy
                src="/yt3<%- (new URL(video.author.thumbnails.pop().url)).pathname %>"
                style="border-radius: 50%; width: 17px; height: 17px"
              />
              <% } %>
              <a href="/c/<%= video.author.id %>">
                <%= video.author.name %>
              </a>
            </span><br>
            <small><%= video.short_view_count_text %> viewers • <%= video.published %></small>
          </div>
        </div>
      </div>
      <% }); %>
    </div>

    <script>
    try {
      document.getElementById("qs").style.visibility = "visible";
      let audio = new Audio();
      let video = document.querySelector("video");

      let lastTime = null;
      let changeTime = true;

      video.mediaGroup = "<%= id %>";
      audio.mediaGroup = "<%= id %>";

      function cq(vid, aid) {
        if (!lastTime) lastTime = video.currentTime;

        if (video.error || !video.currentSrc.endsWith("/s/<%= id %>?itag=" + vid)) {
          let lastTracks = video.textTracks;
          video.src = "/s/<%= id %>?itag=" + vid;
          video.textTracks = lastTracks;

          video.load();
        }

        if (audio.error || !audio.currentSrc.endsWith("/s/<%= id %>?itag=" + aid)) {
          audio.src = "/s/<%= id %>?itag=" + aid;
          audio.load();
        }

        document.getElementById("qs").open = false;
      }

      function seekAudio() {
        if (audio.fastSeek) {
          ausio.fastSeek(lastTime || video.currentTime);
        } else {
          audio.currentTime = lastTime || video.currentTime;
        }
        lastTime = null;
      }

      video.addEventListener("playing", () => {
        changeTime = true;
        audio.play();
      });

      video.addEventListener("ratechange", () => {
        audio.playbackRate = video.playbackRate;
        seekAudio();
      });

      video.addEventListener("loadedmetadata", () => {
        if (!lastTime) return;
        video.currentTime = lastTime;
      });

      video.addEventListener("seeked", seekAudio);

      ["pause", "waiting"].forEach(e => {
        video.addEventListener(e, () =>
          audio.pause()
        );
      });

      audio.addEventListener("playing", () => {
        if (!changeTime) return changeTime = true;
        audio.playbackRate = video.playbackRate;
        seekAudio();
        changeTime = false;
      });

      let lastDelay = 0;
      setInterval(() => {
        if (Math.ceil(audio.currentTime) === Math.ceil(video.currentTime) || lastTime) return;

        lastDelay = video.currentTime - audio.currentTime;

        console.log(`sync: Audio synced from ${audio.currentTime} to ${video.currentTime} (${lastDelay}s late)`);
        audio.playbackRate = video.playbackRate;
        seekAudio();
      }, 1000);
    } catch (e) { alert(e.toString()) }
    </script>
    <style>
      #relatedVideos {
        float: right;
        margin-bottom: 60px;
      }

      .rVideoInfo {
        max-width: 200px;
      }
    </style>
  </body>
</html>
